

.container {
    background: rgb(99, 0, 180);
    max-width: 1024px;
    height: 8000px;
    margin: auto;
    margin-top: 0px;
}

.nav-bar {
    position: fixed;
    width: 100%;
    left: 0px;
}

.nav-bar__nav-bar-start {
    position: fixed;
    height: 50px;
    left: 0px;
    top: 0px;
    width: 100%;
}

.nav__color {
    background: rgba(0, 0, 0, 0.493);
  }

.nav-bar__list {
    list-style: none;
    margin: auto;
    padding: 0px;
    text-align: center;
    height: 40px;
    border-bottom: 1px solid black;
}

.nav-bar__list > a {
    color: #333;
}

.nav-bar__li-block {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    margin-right: 40px;
    line-height: 40px;
}

.nav-bar__under-line-block-position-1 {
    background: #ff0000;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 500px;
}

.nav-bar__under-line-block-position-1-green {
    background: #008000;
}

.nav-bar__under-line-block-position-1-yellow {
    background: yellow;
}

.nav-bar__under-line-block-position-1-black {
    background: black;
}




.nav-bar__li-block:hover {
    text-decoration: underline;
}

.under-line1 {
    border-bottom: 5px solid red;
}

.under-line2 {
    border-bottom: 5px solid orange;
}

.under-line3 {
    border-bottom: 5px solid green;
}

.under-line4 {
    border-bottom: 5px solid blue;
}

.under-line5 {
    border-bottom: 5px solid pink;
}



#one, #two {
    height: 50px;
    width: 2px;
    background: coral;
    margin: 10px;
    line-height: 50px;
  }

  .heightBlock {
    width: 500px;
    height: 500px;
  }